<configuration>
    <packageSources>
        <add key="CoreFX" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
        <add key="NETCAT" value="https://www.myget.org/F/dotnetcat/api/v3/index.json" />
        <add key="MJR" value="https://www.myget.org/F/mjrousos/api/v3/index.json" />
    </packageSources>
</configuration>